* {margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.container{
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}