<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="navbar">
        <div class="logo">Samyog Dumre</div>
        <div class="menu">
            <a href="#" class="active">Home</a>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">About</a>
            <a href="#">Tiktok</a>
            <a href="#">Contact</a>
        </div>
    </div>

    

</body>
</html>